:root {
  --yellow: #f5c32c;
  --orange:  #951ffc;
  --black: #989080;
  --gray: rgba(150, 166, 216, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  /* --cardColor: rgb(19 23 50) */
  --cardColor: rgb(0 0 0);
  /* --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%); */
  --buttonBg: linear-gradient(98.63deg, #5725f9 0%, #f95f35 100%);
  /* --inputColor: rgba(201, 201, 201, 0.685); */
  --inputColor: #1E1E1E;
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--schedule: #E1AE4A;
}

.App{
  overflow: hidden;
  color: var(--black);
  background: #060b26;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #000000;
  filter: blur(72px);
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:disabled{
  background: silver;
  pointer-events: none;
}

.button:hover{
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
}
::-webkit-scrollbar{
  display: none;
}

